{{>layout/header}}

<table class="table">
    <thead>
    <tr>
        <td> id</td>
        <td> title</td>
        <td> content</td>
    </tr>
    </thead>
    
    {{#board}}
    <tbody>
        <tr>
            <td> {{id}} </td>
            <td> {{title}}</td>
            <td> {{content}}</td>
        </tr>
    {{/board}}
    </tbody>

</table>

{{>layout/footer}}
