<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> 게시물 작성 보여주기 </title>
</head>
<body>
{{>layout/header}}

<table class="table">
    <thead>
    <tr>
        <th> 제목 </th>
        <th> 내용 </th>
    </tr>
    </thead>

    <tbody>
    {{#boards}}
    <tr>
        <td>{{title}}</td>
        <td>{{content}}</td>
    </tr>
    {{/boards}}
    </tbody>
</table>


{{>layout/footer}}
</body>
</html>