{{>layout/header}}

<table class="table">
    <thead>
    <tr>
        <td> id </td>
        <td> title </td>
        <td> content </td>
    </tr>
    </thead>

    <tbody>
    {{#boardEntityList}}

    <tr>
        <td> {{id}} </td>
        <td> <a href="boards/{{id}}"> {{title}} </a></td>
        <td> {{content}}</td>
    </tr>

    {{/boardEntityList}}
    </tbody>

</table>

<a href ="/boards/new"> NewBoard </a>

{{>layout/footer}}