
{{>layout/header}}

<!--content-->
<div class="bg-dark text-white p-5">
    <h3> 자기소개 </h3>
    <h3> 이름 : {{NAME}} </h3>
    <h3> 나이 : {{AGE}} </h3>
    <h3> 특징 : {{character}} </h3>
</div>


{{>layout/footer}}
